<!DOCTYPE html>
<html>
  <head>
  <title><%= (@metadata || {})['title'] || "Patrick Luz | Blog" %></title>
    <meta name="description" content="<%= (@metadata || {})['description'] || "Eu sou Patrick Luz, desenvolvedor apaixonado por tecnologia." %>">
    <meta name="author" content="<%= (@metadata || {})['author'] || "Patrick Luz" %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-[black] text-base leading-[1.4] min-h-full break-words m-0 font-mono">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
